@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1250px;
    margin: 0 auto 100px;
}

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* Header and Navigation */
nav {
    display: flex;
    align-items: center;
    padding: 37px 130px;
    max-width: 1150px;
    margin: 0 auto;
    justify-content: space-between;
}

.nav-title {
    display: flex;
    align-items: center;
    color: #0B0223;
    font-size: 28px;
}

.nav-title img {
    width: 86px;
    height: 40px;
    margin-right: 10px;
}

.text-primary {
    color: #FF42A5;
}

ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    color: #3C354F;
}

.nav-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #3C354F;
    padding: 13px 20px;
    border: none;
    border-radius: 10px;
}

.nav-btn img {
    width: 24px;
    height: 16px;
}

/* Banner Styles */
.banner {
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-subtitle {
    font-size: 45px;
    color: #0B0223;
    font-weight: 600;
}

.banner-title {
    font-size: 80px;
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 10px;
}

.feature {
    color: #534C64;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
}

.banner-btns {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
}

.btn-1, .btn-2 {
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 20px;
}

.btn-1 {
    background-color: #FF42A5;
}

.btn-2 {
    background-color: #4EC5F7;
}

.banner-img img {
    max-width: 450px;
    height: 400px;
}

/* Gamer Section */
.gamer {
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding: 0 100px;
}

.gamer-img img {
    max-width: 700px;
}

.gamer-content {
    text-align: right;
}

.title {
    font-size: 40px;
    margin-bottom: 20px;
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    -webkit-background-clip: text;
    color: transparent;
}

.description, .purpose, .motto {
    color: #534C64;
}

.description {
    font-weight: 400;
    margin: 20px 0;
}

.purpose {
    font-weight: 600;
    font-size: 20px;
    margin: 20px 0 10px;
}

.motto {
    font-size: 25px;
    font-weight: 600;
}

/* Online Games Titles */
.games-titles {
    align-items: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.games-title {
    font-size: 40px;
}

.games {
    display: flex;
    gap: 20px;
    margin: 0 130px;
}

.game img {
    max-width: 240px;
}

/* Instantly Play Games */
.instant-game-1, .instant-game-2 {
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.instant-game-2 {
    margin-bottom: 50px;
}

.instant-game-content1 {
    text-align: right;
    max-width: 350px;
}

.instant-game-content2 {
    text-align: left;
    max-width: 350px;
}

.instant-game-imgs {
    position: relative;
    display: flex;
}

.instant-game-img1, .instant-game-img3 {
    max-width: 200px;
    height: 250px;
    position: absolute;
}

.instant-game-img2, .instant-game-img4 {
    max-width: 400px;
}

.instant-game-img1 {
    margin-top: 200px;
    margin-left: -100px;
}

.instant-game-img3 {
    margin-top: 160px;
    margin-left: 280px !important;
}

/* Career Section */
.career {
    display: flex;
    align-items: center;
    background-color: #F948B2;
    padding: 50px 130px;
    margin-bottom: 100px;
}

.career-title {
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

.career-description {
    color: white;
    line-height: 1.5;
    font-weight: 530;
}

.careers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
    color: white;
}

.div-right {
    text-align: right;
}

.careers p {
    margin-bottom: 10px;
    white-space: nowrap;
    font-weight: 600;
}

.career-btn {
    color: #F948B2;
    padding: 14px 40px;
    font-size: 18px;
    border-radius: 30px;
    border: none;
}

.career-img {
    width: 700px;
}

/* Types of Games */
.action-game {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    font-size: 20px;
}

.group-5 {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
    .container {
        max-width: 709px !important;
        margin: 0 auto;
    }

    /* Navigation */
    nav {
        flex-direction: column;
        display: flex;
    }

    ul {
        flex-direction: column;
        margin-top: 20px;
    }

    .nav-btn {
        white-space: nowrap;
    }

    /* Banner */
    .banner {
        flex-direction: column-reverse;
        margin-bottom: 100px;
    }

    .banner-subtitle {
        font-size: 40px;
        white-space: nowrap;
    }

    .banner-title {
        font-size: 70px;
    }

    .banner-img {
        margin-bottom: 80px;
    }

    /* Gamer Section */
    .gamer {
        flex-direction: column;
        margin-bottom: 100px;
    }

    .gamer-content {
        text-align: center;
        max-width: 600px;
    }

    .gamer-img img {
        max-width: 500px;
    }

    /* Games */
    .games {
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .gamer-img img {
        max-width: 450px;
        height: 300px;
    }

    .game {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    /* Instantly Play Games */
    .instant-game-1 {
        flex-direction: column;
    }

    .instant-game-img1 {
        width: 150px;
        height: 200px;
        margin-top: 200px;
        margin-left: -30px;
    }

    .instant-game-img3 {
        width: 150px;
        height: 200px;
        margin-top: 200px;
        margin-left: -30px;
    }

    .instant-game-2 {
        flex-direction: column-reverse;
    }

    .instant-game-img2, .instant-game-img4 {
        width: 350px;
    }

    .instant-game-content2 {
        text-align: center;
    }

    /* Career Section */
    .career {
        flex-direction: column;
        text-align: center;
        padding: 30px 20px;
        margin-bottom: 50px;
    }

    .career-description {
        padding: 0 50px;
        text-align: center;
    }

    .career-title {
        margin-bottom: 50px;
    }

    .career-img {
        max-width: 600px;
        height: 450px;
        margin-bottom: 20px;
    }
}